[Unit]
Description=Update Route53 record
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/var/local/aws/hostname
ExecStart=/var/local/aws/hostname/hostname.sh
KillMode=process
TimeoutStopSec=60
